.basket {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 34px 15px 78px;
}

.basket__logo-list {
  @include reset-list;

  display: flex;
  order: -1;
  margin-right: 15px;
}

.basket__logo-part {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: block;

  &--red {
    background-color: $red;
  }

  &--blue {
    background-color: $blue;
  }

  &--black {
    background-color: $black;
  }
}

.basket__logo-part:not(:last-child) {
  margin-right: 1px;
}

.basket__title {
  text-transform: uppercase;
  margin: 0;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  font-family: "Universe Medium", "Arial", sans-serif;
}

.basket__title-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 32px;
}

.basket__table {
  background-color: $light-blue;
  width: 100%;
}

.basket__table-row {
  display: flex;
  justify-content: space-between;
}

.basket__cell {
  font-weight: 500;
  padding: 5px 0;
  display: block;
  width: 100%;

  &--article {
    padding-left: 2px;
    max-width: 90px;
    width: 100%;
  }

  &--name {
    max-width: 315px;
    padding-left: 7px;
  }

  &--info {
    max-width: 243px;
    padding-left: 8px;
  }

  &--action {
    max-width: 95px;
  }

  &--ammount {
    max-width: 112px;
    padding-left: 16px;
  }

  &--price {
    max-width: 82px;
    padding-left: 0.79%;
  }
}

.basket__purchases-list {
  @include reset-list;

  border-bottom: 10px solid $light-blue;
}

.basket__item {
  display: flex;
  padding: 17px 1.0539% 15px;
  align-items: flex-start;
  justify-content: space-between;

  &--3 {
    .basket__image-link {
      height: 79px;
      margin-bottom: 4px;
    }
  }
}

.basket__item:not(:last-child) {
  border-bottom: 1px solid $light-blue;
}

.basket__container {
  padding: 0 1%;
}

.basket__number-link {
  color: $dark-blue;
  font-size: 12px;
  text-decoration: underline;
}

.basket__number-link:hover,
.basket__number-link:focus {
  color: $black;
}

.basket__number-link:active {
  opacity: 0.7;
}

.basket__properties {
  display: flex;
  flex-direction: column;
  margin: 10px 5px 0 0;
}

.basket__image-link {
  height: 60px;
  margin-bottom: 11px;
}

.basket__details {
  max-width: 323px;
  width: 29%;

  display: flex;
  flex-direction: column;
  margin-right: 5px;
  padding-left: 1%;
}

.basket__name {
  font-weight: 500;
  margin-right: 13px;
}

.basket__condition {
  font-weight: 500;

  &--original {
    color: $dark-blue;
  }

  &--replacement {
    color: $red;
    font-weight: 700;
  }
}

.basket__item-title-wrap {
  display: flex;
  line-height: 20px;
  margin-bottom: 4px;
  flex-wrap: wrap;
}

.basket__text {
  margin: 0 0 5px;
  line-height: 17px;
}

.basket__comment {
  padding: 0;
  margin: 0;
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.basket__comment-label {
  color: $dark-blue;
  font-size: 12px;
}

.basket__comment-input {
  max-width: 213px;
  width: 100%;
  border: 1px solid $dark-blue;
  border-radius: 20px;
  padding: 7px;
  outline: none;
}

.basket__comment-input:hover {
  border-color: $black;
}

.basket__comment-input:focus {
  border-color: $dark-red;
}

.basket__terms-wrap {
  font-weight: 500;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2px;
}

.basket__terms-label {
  margin-right: 5px;
}

.basket__ammount-wrap {
  margin-bottom: 4px;
  font-weight: 500;
  flex-wrap: wrap;
}

.basket__availability {
  @include reset-list;
  display: flex;
  margin-bottom: 1px;

  &--full-stock {
    .basket__availability-point {
      background-color: $green;
    }
  }
}

.basket__availability-point {
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.basket__availability-point:not(:last-child) {
  margin-right: 3px;
}

.basket__info {
  width: 22.51%;
  max-width: 255px;
  display: flex;
  flex-direction: column;
  margin-right: 5px;
  padding-left: 1%;
}

.basket__time-line {
  font-size: 12px;
  line-height: 15px;
}

.basket__adding-wrap,
.basket__actuality-wrap {
  display: flex;
  flex-wrap: wrap;
}

.basket__adding-label,
.basket__actuality-label {
  margin-right: 10px;
}

.basket__action-item {
  margin-bottom: 10px;
}

.basket__quantity-input {
  width: 100%;
  border: 1px solid $dark-blue;
  border-radius: 20px;
  padding: 6px 7px 4px;
  outline: none;
  text-align: center;
  font-size: 18px;
  margin-bottom: 10px;
}

.basket__quantity-input::placeholder {
  color: $black;
}

.basket__quantity-input:hover {
  border-color: $black;
}

.basket__quantity-input:focus {
  border-color: $dark-red;
}

.basket__quantity-wrap {
  margin: 0;
  padding: 0;
  border: none;
}

.basket__quantity-button {
  @include reset-button;

  width: 38px;
  height: 26px;
  position: relative;

  &--minus {
    background-color: $light-blue;
  }

  &--plus {
    background-color: $dark-blue;
  }
}

.basket__quantity-button--minus::before {
  position: absolute;
  content: "";
  width: 8px;
  height: 2px;
  background-color: $white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.basket__quantity-button--plus::before,
.basket__quantity-button--plus::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $white;
}

.basket__quantity-button--plus::before {
  width: 16px;
  height: 2px;
}

.basket__quantity-button--plus::after {
  width: 2px;
  height: 16px;
}

.basket__quantity-button:hover,
.basket__quantity-button:focus {
  background-color: $charcoal;
}

.basket__quantity-button:active {
  opacity: 0.7;
}

.basket__quantity-buttons-wrap {
  display: flex;
  width: 80px;
  justify-content: space-between;
}

.basket__quantity {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 5px;
  width: 9.86%;
  min-width: 50px;
  padding-top: 14px;
}

.basket__price {
  font-weight: 700;
  color: $dark-blue;
  display: flex;
  flex-wrap: wrap;
  width: 6.9%;
  max-width: 77px;
  padding-top: 20px;
}

.basket__action {
  margin-right: 5px;
  max-width: 87px;
  width: 10%;
  padding-top: 22px;
}

.basket__action-label::before {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid $dark-grey;
  top: -3px;
  left: -12px;
}

.basket__action-label {
  padding-left: 25px;
  cursor: pointer;
  user-select: none;
  position: relative;
}

.basket__action-input:checked + .basket__action-label::after {
  position: absolute;
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: $green;
  left: -6px;
  top: 3px;
}

.basket__action-input:focus + .basket__action-label::before {
  border-color: $black;
}

.basket__action-label:hover::before {
  border-color: $black;
}

.basket__action-label:active::before {
  border-color: $dark-red;
}

.basket__action-list {
  @include reset-list;

  display: flex;
  flex-direction: column;
}

.basket__notification-slogan {
  color: $dark-blue;
  font-size: 12px;
  font-weight: 700;
}

.basket__notification-wrap {
  padding: 0;
  margin: 0;
  border: none;
  width: 128px;
  border-radius: 20px;
  background-color: $red;
}

.basket__notification-label {
  color: $white;
  font-weight: 500;
  cursor: pointer;
  padding: 8px 3px 8px 28px;
  position: relative;
}

.basket__notification-label::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  background-color: $white;
  border-radius: 50%;
  top: 4px;
  left: 2px;
}

.basket__notification-label:hover::before {
  background-color: $grey;
}

.basket__notification-label:hover {
  color: $grey;
}

.basket__notification-checkbox-input:focus + .basket__notification-label::before {
  background-color: $grey;
}

.basket__notification-checkbox-input:focus + .basket__notification-label {
  color: $grey;
}

.basket__notification-checkbox-input:active + .basket__notification-label::before {
  opacity: 0.7;
}

.basket__notification-checkbox-input:checked + .basket__notification-label::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-image: url("../img/icons/icon-check.svg");
  top: 5px;
  left: 3px;
  z-index: 2;
}

.basket__notification {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 15px;
}

.basket__warning {
  font-weight: 500;
  color: $red;
  font-size: 12px;
  line-height: 15px;
  margin-top: 8px;
}

.basket__update-button,
.basket__submit-button {
  @include reset-button;

  background-color: $dark-blue;
  font-weight: 500;
  color: $white;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  border-radius: 20px;
  text-align: center;
  padding: 12px;
}

.basket__update-button:hover,
.basket__update-button:focus,
.basket__submit-button:hover,
.basket__submit-button:focus {
  background-color: $very-dark-blue;
}

.basket__update-button:active,
.basket__submit-button:active {
  opacity: 0.7;
}

.basket__submit-button {
  width: 325px;
}

.basket__submit-button-wrap {
  text-align: center;
}

.basket__update-button {
  margin-right: 30px;
  width: 170px;
}

.basket__reset-button {
  @include reset-button;

  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;
  text-decoration: underline;
  color: $very-dark-grey;
  font-weight: 900;
}

.basket__reset-button:hover,
.basket__reset-button:focus {
  color: $black;
}

.basket__reset-button:active {
  opacity: 0.7;
}

.basket__total-list {
  @include reset-list;

  font-size: 18px;
  padding-left: 11px;
  margin-bottom: 12px;
}

.basket__total-sum,
.basket__sum-cuurency {
  color: $dark-blue;
}

.basket__total-item {
  display: flex;
  flex-wrap: wrap;
}

.basket__total-item span {
  margin-right: 8px;
}

.basket__total-label {
  margin-right: 5px;
}

.basket__annotation {
  margin: 0;
  text-align: right;
  line-height: 18px;
}

.basket__buttons-wrap {
  display: flex;
  align-items: center;
}

.basket__results-wrap {
  display: flex;
  justify-content: space-between;
  padding: 55px 0 37px;
}

.basket__results {
  width: 100%;
  max-width: 474px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-right: 22px;
}

.basket__replacement-warning {
  color: $red;
  text-align: center;
  font-weight: 900;
}

.basket__price-for-payment {
  display: flex;
  font-size: 24px;
  margin-top: -6px;
  margin-bottom: 25px;
}

.basket__results-currency {
  color: $dark-blue;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
}

.basket__sum-for-payment {
  color: $dark-blue;
  margin-right: 5px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 700;
}

.basket__results-label {
  margin-right: 25px;
}

.basket__explanation-text {
  margin: 0 0 14px;
  text-align: center;
  padding: 0 24px 0 11px;
  font-size: 12px;
  line-height: 15px;
}

.basket__confirmation-wrap {
  font-weight: 700;
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 18px 24%;
  font-size: 12px;
}

.basket__confirmation-wrap div {
  margin-right: 5px;
  margin-left: 5px;
}

.basket__rules-link {
  color: $dark-blue;
  text-decoration: underline;
  margin-right: 2px;
}

.basket__rules-link:hover,
.basket__rules-link:focus {
  color: $dark-red;
}

.basket__rules-link:active {
  opacity: 0.7;
}

.basket__order-confrimation {
  border: none;
  padding: 0;
  margin: 0;
}

.basket__confirmation-label {
  position: relative;
}

.basket__confirmation-label::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  border: 1px solid $dark-blue;
  border-radius: 50%;
  top: 3px;
  left: -22px;
  cursor: pointer;
}

.basket__confirmation-input:checked + .basket__confirmation-label::after {
  position: absolute;
  content: "";
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  background-image: url("../img/icons/icon-check.svg");
  top: 2px;
  left: -20px;
  cursor: pointer;
}

.basket__confirmation-label:hover::before {
  border-color: $black;
}

.basket__confirmation-input:focus + .basket__confirmation-label::before {
  border-color: $black;
}

.basket__confirmation-input--error + .basket__confirmation-label::before {
  border-color: $red;
}

.basket__confirmation-input:active + .basket__confirmation-label {
  opacity: 0.7;
}

.basket__total-wrap {
  margin-right: 10px;
}

@media (max-width: $mobile-width) {
  .basket {
    padding: 35px 15px 50px;
  }

  .basket__table {
    display: none;
  }

  .basket__container {
    padding: 0;
  }

  .basket__item {
    flex-direction: column;
    position: relative;

    &--3 {
      .basket__image-link {
        margin-bottom: 0;
      }
    }
  }

  .basket__price {
    padding-top: 0;
    width: 100%;
    position: absolute;
    top: 35px;
    right: 10px;
  }

  .basket__properties {
    flex-direction: row;
    margin: 0 0 10px 0;
  }

  .basket__image-link {
    margin: 0 10px 0 0;
  }

  .basket__details {
    max-width: none;
    width: 100%;
    margin: 0 0 30px 0;
  }

  .basket__comment {
    flex-direction: column;
    align-items: flex-start;
  }

  .basket__comment-input {
    max-width: none;
  }

  .basket__info {
    width: 100%;
    max-width: none;
    margin: 0 0 30px 0;
  }

  .basket__time-line {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .basket__action {
    padding-top: 0;
    max-width: none;
    width: 100%;
    margin: 0 0 30px 0;
  }

  .basket__action-list {
    flex-direction: row;
  }

  .basket__action-label::before {
    left: 7px;
    top: -6px;
    width: 25px;
    height: 25px;
  }

  .basket__action-input:checked + .basket__action-label::after {
    left: 15px;
    top: 1px;
    width: 10px;
    height: 10px;
  }

  .basket__action-label {
    padding-left: 45px;
  }

  .basket__action-item {
    margin: 0 5px 0 0;
  }

  .basket__quantity {
    padding-top: 0;
    width: 100%;
    margin-right: 0;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .basket__quantity-input {
    margin: 0;
    width: 100px;
  }

  .basket__quantity-buttons-wrap {
    width: 100px;
  }

  .basket__results-wrap {
    flex-direction: column;
    padding: 40px 0;
  }

  .basket__total-wrap {
    margin: 0 0 30px 0;
  }

  .basket__total-list {
    padding-left: 0;
    font-size: 15px;
    margin-bottom: 30px;
  }

  .basket__results {
    padding-right: 0;
    max-width: none;
    align-items: flex-start;
  }

  .basket__results-label {
    font-size: 18px;
  }

  .basket__price-for-payment {
    margin-top: 0;
  }

  .basket__results-currency,
  .basket__sum-for-payment {
    font-size: 25px;
    line-height: 25px;
  }

  .basket__annotation {
    text-align: left;
  }

  .basket__explanation-text {
    padding: 0;
    margin-bottom: 30px;
  }

  .basket__confirmation-wrap {
    margin-left: 30px;
    line-height: 18px;
  }

  .basket__confirmation-label::before {
    top: -1px;
  }

  .basket__confirmation-input:checked + .basket__confirmation-label::after {
    top: -2px;
  }

  .basket__submit-button {
    max-width: 325px;
    width: 100%;
  }

  .basket__replacement-warning {
    margin-bottom: 10px;
    line-height: 20px;
  }
}
