.page-header {
  display: flex;
  flex-direction: column;
  font-family: "Universe Medium", "Arial", sans-serif;
}

.page-header__contacts {
  max-width: 1200px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 2px 17px 2px 15px;
}

.page-header__contacts-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding-left: 2.8%;


  flex-wrap: wrap;
}

.page-header__contacts-container {
  order: -1;
  background-color: $red;
}

.page-header__phone {
  color: $white;
  display: flex;
  align-items: center;
  font-size: 21px;
  line-height: 24px;
}

.page-header__phone:hover,
.page-header__phone:focus {
  color: $black;
}

.page-header__phone:active {
  opacity: 0.7;
}

.page-header__address {
  padding: 6px 6px 6px 0;
  font-style: normal;
  border-right: 1px solid $white;
  color: $white;
  font-size: 15px;
  line-height: 23px;
  min-width: 241px;
}

.page-header__main-container {
  order: 0;
  max-width: 1200px;
  padding: 2px 15px 6px;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.page-header__nav {
  order: 1;
  background-color: $blue;
}

.page-header__icon-phone {
  margin-right: 25px;
}

.page-header__work-time {
  color: $white;
  font-size: 15px;
  line-height: 23px;
  margin-right: 5px;
}

.page-header__main-wrap {
  display: flex;
  align-items: flex-start;
  padding: 14px 3px 0 3%;
  border-left: 1px solid $red;
  flex-grow: 1;

  justify-content: space-between;
  flex-wrap: wrap;
}

.page-header__info-wrap {
  max-width: 527px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-right: 5px;

  flex-wrap: wrap;
}

.page-header__online {
  color: $red;
  margin-right: 7px;
}

.page-header__user-account {
  display: flex;
  text-transform: uppercase;
  align-items: center;
  font-size: 15px;
  line-height: 23px;
}

.page-header__search-input {
  width: 335px;
  border: 1px solid $charcoal;
  padding: 8px 55px 6px 40px;
  outline: none;
  font-size: 15px;
  line-height: 18px;
}

.page-header__search-input:focus {
  box-shadow: 1px 1px 10px 0.5px #000000;
}

.page-header__search-input::placeholder {
  color: $dark-grey;
}

.page-header__search {
  position: relative;
  margin-top: 8px;
}

.page-header__search::before {
  position: absolute;
  content: "";
  top: 5px;
  left: 7px;
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
  background-image: url("../img/icons/icon-gear.svg");
  background-size: 21px 21px;
}

.page-header__search-button {
  @include reset-button;

  background-color: $dark-red;
  width: 38px;
  height: 31px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 0;
  top: 2px;
}

.page-header__search-button:hover .page-header__search-icon,
.page-header__search-button:focus .page-header__search-icon {
  color: $black;
}

.page-header__search-button:active {
  opacity: 0.7;
}

.page-header__search-wrap {
  border: none;
  padding: 0;
  margin: 0;
}

.page-header__search-icon {
  color: $white;
}

.page-header__description {
  width: 170px;
  display: flex;
  align-self: center;
  flex-wrap: wrap;
  padding-bottom: 22px;
  font-size: 18px;
  line-height: 25px;
  margin-right: 5px;
}

.page-header__logo-link {
  margin-right: 32px;
  margin-bottom: 14px;
}

.page-header__total {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.page-header__basket span {
  color: $black;
}

.page-header__user-enter {
  color: $black;
}

.page-header__registration {
  color: $black;
  font-weight: 700;
}

.page-header__user-enter:hover,
.page-header__user-enter:focus,
.page-header__registration:hover,
.page-header__registration:focus {
  color: $dark-red;
}

.page-header__registration:active,
.page-header__enter:active {
  opacity: 0.7;
}

.page-header__enter-wrap {
  padding: 10px 24px 8px 0;
  border-right: 1px solid $red;
  margin-right: 20px;
}

.page-header__purchase {
  font-size: 15px;
  line-height: 23px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding-top: 7px;
}

.page-header__basket-icon {
  color: $red;
}

.page-header__basket {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 87px;
  margin-bottom: 7px;
}

.page-header__basket:hover span,
.page-header__basket:focus span {
  color: $dark-red;
}

.page-header__basket:hover .page-header__basket-icon,
.page-header__basket:focus .page-header__basket-icon {
  color: $black;
}

.page-header__basket:active {
  opacity: 0.7;
}

.page-header__user-wrap {
  width: 335px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 5px;
}

.page-header__menu-button {
  display: none;
}

.page-header__logo-list {
  display: none;
}

@media (max-width: $mobile-width) {
  .page-header__container {
    order: -1;
  }

  .page-header__contacts-container {
    order: 0;
  }

  .page-header__contacts {
    flex-direction: column-reverse;
    align-items: flex-end;
    padding: 10px 15px;
  }

  .page-header__contacts-wrap {
    padding-left: 0;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
    flex-wrap: nowrap;
  }

  .page-header__address {
    min-width: auto;
    padding: 0;
    border-right: none;
    font-size: 13px;
  }

  .page-header__work-time {
    font-size: 13px;
    margin-right: 10px;
  }

  .page-header__icon-phone {
    margin-right: 10px;
  }

  .page-header__phone {
    font-size: 15px;
    flex-shrink: 0;
  }

  .page-header__logo-list {
    @include reset-list;

    display: flex;
  }

  .page-header__logo-part {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: block;

    &--red {
      background-color: $red;
    }

    &--blue {
      background-color: $blue;
      border: 1px solid $white;
      width: 9px;
      height: 9px;
    }

    &--black {
      background-color: $black;
    }
  }

  .page-header__logo-part:not(:last-child) {
    margin-right: 3px;
  }

  .page-header__nav {
    position: relative;
    padding: 10px 15px;
    border-bottom: 1px solid $red;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-header__menu-button {
    @include reset-button;

    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .page-header__menu-button span {
    display: block;
    width: 20px;
    height: 2px;
    background-color: transparent;
    position: relative;
  }

  .page-header__menu-button span::before,
  .page-header__menu-button span::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 2px;
    background-color: $white;
    left: 0;
    top: 0;
    transition: top 0.3s, transform 0.3s  0.3s;
  }

  .page-header__menu-button span::before {
    transform: rotate(-45deg);
  }

  .page-header__menu-button span::after {
    transform: rotate(45deg);
  }

  .page-header__menu-button:hover span::before,
  .page-header__menu-button:focus span::before,
  .page-header__menu-button:hover span::after,
  .page-header__menu-button:focus span::after {
    background-color: $red;
  }

  .page-header__menu-button:active {
    opacity: 0.7;
  }

  .page-header {
    &--menu-closed {
      .main-nav {
        display: none;
      }

      .page-header__menu-button span {
        background-color: $white;
      }

      .page-header__menu-button span::before,
      .page-header__menu-button span::after {
        transform: none;
        transform-origin: 50% 50%;
        transition: top 0.3s 0.3s, transform 0.3s;
      }

      .page-header__menu-button span::before {
        top: 5px;
      }

      .page-header__menu-button span::after {
        top: -5px;
      }

      .page-header__menu-button:hover span,
      .page-header__menu-button:focus span {
        background-color: $red;
      }
    }
  }

  .page-header__main-container {
    flex-direction: column;
    padding: 10px 15px 20px;
    align-items: flex-start;

    position: relative;
  }

  .page-header__description {
    position: absolute;
    top: 10px;
    right: 15px;
    margin-right: 0;
    padding-bottom: 0;
    font-size: 13px;
    line-height: 15px;
    width: 90px;
  }

  .page-header__logo {
    width: 150px;
  }

  .page-header__logo-link {
    margin: 0;
    width: 150px;
    height: 36px;
    margin-top: 9px;
    margin-bottom: 20px;
  }

  .page-header__main-wrap {
    border-left: 0;
    padding: 0;
    width: 100%;
  }

  .page-header__info-wrap {
    max-width: none;
    margin-right: 0;
    margin-bottom: 20px;
  }

  .page-header__search {
    width: 100%;
    margin-top: 0;
  }

  .page-header__search-input {
    width: 100%;
  }

  .page-header__user-wrap {
    padding-top: 0;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .page-header__user-account {
    font-size: 13px;
    line-height: 18px;
    align-items: baseline;
  }

  .page-header__enter-wrap {
    margin-right: 10px;
    padding: 10px 10px 11px 0;
  }

  .page-header__purchase {
    padding-top: 0;
  }

  .page-header__total {
    font-size: 13px;
    line-height: 18px;
  }

  .page-header__basket {
    margin-bottom: 0;
  }
}
