.page-footer {
  background-color: $grey;

  font-size: 15px;
  line-height: 23px;
  width: 100%;
}

.page-footer__container {
  max-width: 1200px;
  width: 100%;
  padding: 20px 15px 10px 5px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.page-footer__phone-link {
  color: $black;
  display: flex;
  align-items: center;
  font-family: "Universe Medium", "Arial", sans-serif;
  font-size: 21px;
  line-height: 21px;
  margin-bottom: 10px;
}

.page-footer__phone-link span {
  display: block;
  margin-left: 18px;
}

.page-footer__phone-link:hover,
.page-footer__phone-link:focus {
  color: $blue;
}

.page-footer__phone-link:active {
  opacity: 0.7;
}

.page-footer__address {
  font-style: normal;
  padding: 11px 0 11px 15px;
  border-left: 1px solid $charcoal;
  display: inline-block;
  font-size: 12px;
}

.page-footer__copyrights {
  text-transform: uppercase;
  padding-right: 14px;
  display: inline-block;
  border-right: 1px solid $charcoal;
  font-size: 12px;
}

.page-footer__central-wrap {
  display: flex;
  align-items: center;
  margin: 0 5px 5px 0;
}

.page-footer__wrap {
  max-width: 877px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.page-footer__logo-link {
  margin: 0 10px 5px 0;
}

@media (max-width: $mobile-width) {
  .page-footer__container {
    flex-direction: column;
  }

  .page-footer__wrap {
    flex-direction: column-reverse;
  }

  .page-footer__central-wrap {
    width: 100%;
    margin: 0;
    flex-direction: column;
  }

  .page-footer__copyrights {
    border-right: none;
    padding-right: 0;
    font-size: 13px;
    order: 1;
  }

  .page-footer__address {
    padding: 0;
    border-left: none;
    font-size: 13px;
    order: -1;
    margin-bottom: 20px;
  }

  .page-footer__logo-link {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .page-footer__phone-link {
    margin-bottom: 20px;
  }
}
