@font-face {
  font-family: "Gotham Pro";
  font-weight: 400;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/gotham-pro-regular.woff") format("woff2"), url("../fonts/gotham-pro-regular.woff") format("woff");
}

@font-face {
  font-family: "Gotham Pro";
  font-weight: 700;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/gotham-pro-bold.woff2") format("woff2"), url("../fonts/gotham-pro-bold.woff") format("woff");
}

@font-face {
  font-family: "Gotham Pro";
  font-weight: 500;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/gotham-pro-medium.woff2") format("woff2"), url("../fonts/gotham-pro-medium.woff") format("woff");
}

@font-face {
  font-family: "Gotham Pro";
  font-weight: 900;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/gotham-pro-black.woff2") format("woff2"), url("../fonts/gotham-pro-black.woff") format("woff");
}

@font-face {
  font-family: "Universe Medium";
  font-weight: 400;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/univers-medium-regular.woff") format("woff2"), url("../fonts/univers-medium-regular.woff") format("woff");
}

@font-face {
  font-family: "Universe Medium";
  font-weight: 700;
  font-style: normal;
  font-display: swap;

  src: url("../fonts/univers-medium-bold.woff2") format("woff2"), url("../fonts/univers-medium-bold.woff") format("woff");
}
