$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$mobile-width: 767px;
$white: #ffffff;
$black: #000000;
$red: #dd2a1b;
$dark-red: #db2a18;
$blue: #0074af;
$light-blue: #c6e2ff;
$dark-blue: #0074af;
$very-dark-blue: #03496b;
$green: #0b8900;
$grey: #e3e3e3;
$dark-grey: #888888;
$charcoal: #8e8e8e;
$very-dark-grey: #757474;
